body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

header {
  text-align: center;
  background-color: #ffc3c3;
  color: #212529;
  border-bottom: 3px solid #000000;
  padding: 30px;
}

.time-block {
  text-align: center;
  border-radius: 100px;
  margin-bottom: 10px;
  border: 2px solid #000000;
  background-color: #ffbbbb;
}

.hour {
  background-color: transparent;
  border-radius: 100px;
  color: #000000;
  text-align: center;
  font-size: 20px; 
  padding: 5px;
}

.past {
  background-color: #000000;
  color: white;
}

.present {
  background-color: #ffb8ae;
  color: white;
}

.future {
  background-color: #000000;
  color: white;
}

.saveBtn {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #ffa3a3;
  color: white;
  cursor: pointer;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
